.aboutp1 {
    font-size: 20px;
    text-align: start;
    margin-bottom: 10px;
}

.aboutp2 {
    font-size: 20px;
    text-align: start;
}

.aboutdiv {
    max-width: 900px;
    margin: 0 auto;
    
}

.abouth1 {
    margin-top: -10px;
}