/* nesta seção de css não aplicaremos estilos a fundo, estaremos
basicamente formatando como o texto irá aparecer */
.aboutp1 {
    font-size: 20px;
    text-align: start;
    margin-bottom: 10px;
}

.aboutp2 {
    font-size: 20px;
    text-align: start;
}

.aboutdiv {
    max-width: 900px;
    margin: 0 auto;
    
}

.abouth1 {
    margin-top: -10px;
}

.educationh2 {
    margin-top: 20px;
}